.container {
  width: 100vw;
  height: 100vh;
  background-color: #66cccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  text-align: center;
}

.nickname {
  margin: .5rem 0;
  font-size: 2rem;
  background-color: #ffcc00;
  border: 0;
  text-align: center;
}

.avatar {
  margin: .5rem 0;
  width: 300px;
  height: auto;
  border: 8px dashed #ff6666;
}

.avatar:hover, .nickname:hover, .nickname:focus {
  border: 8px dotted #cc0066;
}
